<% provide(:title, '勤怠修正ログ（承認済）') %>
<h1>勤怠修正ログ（承認済）</h1>

<div>
	<button class="btn btn-default">リセット</button>
</div>

<div class="input-group">
	<span class="input-group-btn">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			年
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#">2017</a></li>
			<li><a href="#">2018</a></li>
			<li><a href="#">2019</a></li>
		</ul>
	</span>
	<input type="text" class="form-control" placeholder="テキスト入力欄" readonly>
</div>
<div class="input-group">
	<span class="input-group-btn">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			月
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<% (1..12).each do |month| %>
				<li><a href="#"><%= month %></a></li>
			<% end %>
		</ul>
	</span>
	<input type="text" class="form-control" placeholder="テキスト入力欄" readonly>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
	     <tr>
	       <th>日付</th>
	       <th>変更前出社時間</th>
	       <th>変更前退社時間</th>
	       <th>変更後出社</th>
	       <th>変更後退社</th>
	       <th>承認者</th>
	       <th>承認日</th>
	     </tr>
	   </thead>
	   <tbody>
	     <% @approval_histories.each do |approval_history| %>
	       <tr>
	         <td><%= approval_history.date %></td>
	         <td><%= approval_history.previous_in_at.strftime('%H:%M') %></td>
	         <td><%= approval_history.previous_out_at.strftime('%H:%M') %></td>
	         <td><%= approval_history.in_at.strftime('%H:%M') %></td>
	         <td><%= approval_history.out_at.strftime('%H:%M') %></td>
	         <td><%= approval_history.applying_attendance_change_target.name %></td>
	         <td><%= approval_history.created_at.strftime('%Y-%m-%d') %></td>
	       </tr>
	     <% end %>
	   </tbody>
  </table>
</div>