
<div class="modal-dialog">
  <div class="modal-content">
    <h3>【残業申請】</h3>
    <div class="table-responsive table-striped">
      <%= form_with model: @time_card, url: apply_update_url, data: {remote: false} do |form| %>
      <table class="table table-striped table-condensed table-bordered">
        <thead>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>終了予定時間</th>
          <th>翌日</th>
          <th>業務処理内容</th>
          <th>指示者確認㊞</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= params[:month] %>/<%= params[:day] %></td>
            <td><%= get_weekday(params[:year], params[:month], params[:day]) %></td>
            <td><%= form.time_field :end_estimated_time %></td>
            <td><%= form.check_box :next_day, {} %></td>
            <td><%= form.text_field :business_outline %></td>
            <td><%= form.select :test, User.where(superior: true).where.not(id: current_user.id).collect{ |p| [ p.name, p.id ] }, {}, :required => true %></td>
          </tr>
        </tbody>
      </table>
      <%= form.hidden_field :id, value: @time_card.id %>
      <%= form.hidden_field :type, value: "overtime_application" %>
      <%= form.submit "残業を申請する", :class => "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>