<!--所属長申請のお知らせ-->
<% for_a_month_count = is_attendance_application_for_a_month? %>
<% if for_a_month_count != 0 %>
  <div class="margin">
    <%= link_to "【所属長承認申請のお知らせ】", { :action => "approval_attendance", :year => params[:year], :month => params[:month] }, class: "red", id: "attendance", remote: true %>
    <span class="red2 box"><%= for_a_month_count %>件の申請があります</span>
  </div>
<% else %>
  <div class="">【所属長承認申請のお知らせ】</div>
<% end %>

<!--勤怠変更のお知らせ-->
<% change_count = is_applying_attendance_change? %>
<% if change_count != 0 %>
  <div class="margin">
    <%= link_to "【勤怠変更申請のお知らせ】", { :action => "approval_attendance_change", :year => params[:year], :month => params[:month] }, class: "red", id: "change", remote: true %>
    <span class="red2 box"><%= change_count %>件の申請があります</span>
  </div>
<% else %>
  <div class="">【勤怠変更のお知らせ】</div>
<% end %>

<!--残業申請のお知らせ-->
<% overtime_count = is_overtime_applying? %>
<% if overtime_count != 0 %>
  <div class="margin">
     <%= link_to "【残業申請のお知らせ】", { :action => "approval_overtime_working", :year => params[:year], :month => params[:month] }, class: "red", id: "overtime", remote: true %>
     <span class="red2 box"><%= overtime_count %>件の申請があります</span>
  </div>
<% else %>
  <div class="">【残業申請のお知らせ】</div>
<% end %>


