<% if params[:user_id] then %>

<%= form_tag("/time_cards/#{params[:user_id]}", method: "patch" ) do %>
    <table class="table table-bordered table-striped">
	    <thead>
	    	<tr>
				<th>日付</th>
				<th>曜日</th>
				<th>出社</th>
				<th>退社</th>
				<th>在社時間</th>
				<th>備考</th>
		  </tr>
	    </thead>
	    <tbody>
	    	<% @time_cards.each.with_index(1) do |time_card, i| %>
			<tr>
				<td><%= params[:month] %>/<%= i %></td>
			    <td><%= get_weekday(params[:year], params[:month], i) %></td>
			    
			    
			    
			    <%= fields_for "time_cards[]", time_card do |f| %>
			    
					<td><%= f.time_field :in_at %></td>
					<td><%= f.time_field :out_at %></td>
					<td><%= get_stay_time(params[:user_id], params[:year], params[:month], i) %></td>
					<td><%= f.text_field :remarks %></td>
				<% end %>
			    
			    
        	 </tr>
		    <% end %>
	    </tbody>
    </table>
<%= hidden_field_tag 'days', get_days %>
<%= hidden_field_tag 'year', params[:year] %>
<%= hidden_field_tag 'month', params[:month] %>
<%= submit_tag('編集を保存する', class: "btn btn-primary") %>
<%= link_to "キャンセル", {:action => "show", :user_id => params[:user_id], :year => params[:year], :month => params[:month]},class: "btn btn-primary"%>
<% end %>
<% end %>



<% if params[:user_id] == nil then %>

<%= form_tag("/time_cards/#{params[:id]}", method: "patch" ) do %>
    <table class="table table-bordered table-striped">
	    <thead>
	    	<tr>
				<th>日付</th>
				<th>曜日</th>
				<th>出社</th>
				<th>退社</th>
				<th>在社時間</th>
				<th>備考</th>
		  </tr>
	    </thead>
	    <tbody>
	    	<% @time_cards.each.with_index(1) do |time_card, i| %>
			<tr>
				<td><%= params[:month] %>/<%= i %></td>
			    <td><%= get_weekday(params[:year], params[:month], i) %></td>
			    <%= fields_for "time_cards[]", time_card do |f| %>
			    <%= f.error_messages %>
					<td><%= f.time_field :in_at, :style => "%H:%M",
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss' %></td>
					<td><%= f.time_field :out_at %></td>
					<td><%= get_stay_time(params[:id], params[:year], params[:month], i) %></td>
					<td><%= f.text_field :remarks %></td>
				<% end %>
        	 </tr>
		    <% end %>
	    </tbody>
    </table>
<%= hidden_field_tag 'days', get_days %>
<%= hidden_field_tag 'year', params[:year] %>
<%= hidden_field_tag 'month', params[:month] %>
<%= submit_tag('編集を保存する', class: "btn btn-primary") %>
<%= link_to "キャンセル", {:action => "show", :user_id => params[:id], :year => params[:year], :month => params[:month]},class: "btn btn-primary"%>
<% end %>
<% end %>



