  <div>
    <table class="table table-bordered">
	    <tbody>
		    <tr>
			    <td>←→</td>
			    <td>指定勤務時間</td>
			    <td colspan="3">基本時間</td>
			    <td>初日&nbsp;&nbsp;<%= params[:month] %>/1</td>
		    </tr>
		    <tr>
			    <td>所属&nbsp;&nbsp;<%= @user.affiliation %></td>
			    <td>氏名&nbsp;&nbsp;<%= @user.name %></td>
			    <td>コード</td>
			    <td></td>
			    <td>出勤日数&nbsp;&nbsp;<%= get_days(params[:year], params[:month]) %>日</td>
			    <td>締め&nbsp;&nbsp;<%= params[:month] %>/<%= get_days(params[:year], params[:month]) %></td>
		    </tr>
	    </tbody>
    </table>
  </div>
  <%= link_to "勤怠を編集", {:action => "edit", :user_id => params[:user_id], :year => params[:year], :month => params[:month]},class: "btn btn-primary" %>
  <div>
    <table class="table table-bordered table-striped">
	    <thead>
	      <tr>
			    <th rowspan="2">日付</th>
			    <th rowspan="2">曜日</th>
			    <th colspan="3">出社</th>
			    <th colspan="3">退社</th>
			    <th rowspan="2">在社時間</th>
			    <th rowspan="2">備考</th>
		    </tr>
		    <tr>
			    <th>時</th>
			    <th>分</th>
			    <th></th>
			    <th>時</th>
			    <th>分</th>
			    <th></th>
		    </tr>
	    </thead>
	    <tbody>
	    	<% (1..get_days(params[:year], params[:month])).each do |day| %>
		    <tr>
			  	<td><%= params[:month] %>/<%= day %></td>
			    <td><%= get_weekday(params[:year], params[:month], day) %></td>
			    <td><%= get_hour_in_at(params[:user_id], params[:year], params[:month], day) %></td>
			    <td><%= get_minute_in_at(params[:user_id], params[:year], params[:month], day) %></td>
			    <td>
			      <% if is_today?(params[:year], params[:month], day) && !attendance?(params[:user_id], params[:year], params[:month], day) %>
			        <%= form_with url: time_cards_path do |form| %>
			          <%= hidden_field_tag 'user_id', params[:user_id] %>
			          <%= hidden_field_tag 'button_type', 'attendance' %>
                <%= form.submit "出社", class: "btn btn-default" %>
               <% end %>
            <% end %>
			    </td>
			    <td><%= get_hour_out_at(params[:user_id], params[:year], params[:month], day) %></td>
			    <td><%= get_minute_out_at(params[:user_id], params[:year], params[:month], day) %></td>
			    <td>
			    	<% if is_today?(params[:year], params[:month], day) && 
			    			attendance?(params[:user_id], params[:year], params[:month], day) &&
			    					!leaving?(params[:user_id], params[:year], params[:month], day) %>
			        <%= form_with url: time_cards_path do |form| %>
			          <%= hidden_field_tag 'user_id', params[:user_id] %>
			          <%= hidden_field_tag 'date_type', parse_date_type(params[:year], params[:month], day) %>
                <%= form.submit "退社", class: "btn btn-default" %>
              <% end %>
            <% end %>
          </td>
			    <td>td</td>
			    <td></td>
		    </tr>
		    <% end %>
		    <tr>
			    <td colspan="2"></td>
			    <td colspan="6"></td>
			    <td></td>
			    <td></td>
		    </tr>
	    </tbody>
    </table>
  </div>