  <div class="table-responsive">
    <table class="table table-bordered table-condensed">
	    <tbody>
		    <tr class="text-center">
			    <td>
			    	<%= link_to "<", {:action => "show", :user_id => params[:user_id], :year => @pre_year, :month => @pre_month},class: "btn btn-primary" %>
			    	<%= params[:year] %>年<%= params[:month] %>月&nbsp;&nbsp;時間管理表
			    	<%= link_to ">" , {:action => "show", :user_id => params[:user_id], :year => @next_year, :month => @next_month},class: "btn btn-primary"%>
			    </td>
			    <td>指定勤務時間&nbsp;&nbsp;<%= @designated_time %></td>
			    <td colspan="3">基本時間&nbsp;&nbsp;<%= @basic_time %></td>
			    <td>初日&nbsp;&nbsp;<%= params[:month] %>/1</td>
		    </tr>
		    <tr class="text-center">
			    <td>所属&nbsp;&nbsp;<%= @user.affiliation %></td>
			    <td>氏名&nbsp;&nbsp;<%= @user.name %></td>
			    <td>コード</td>
			    <td></td>
			    <td>出勤日数&nbsp;&nbsp;<%= @counts %>日</td>
			    <td>締め&nbsp;&nbsp;<%= params[:month] %>/<%= get_days %></td>
		    </tr>
	    </tbody>
    </table>
  </div>
  <%= link_to "勤怠を編集", {:action => "edit", :user_id => params[:user_id], :year => params[:year], :month => params[:month]},class: "btn btn-primary" %>
  <p></p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
	    <thead>
	      <tr>
			    <th rowspan="2" class="text-center">日付</th>
			    <th rowspan="2" class="text-center">曜日</th>
			    <th colspan="3" class="text-center">出社</th>
			    <th colspan="3" class="text-center">退社</th>
			    <th rowspan="2" class="text-center">在社時間</th>
			    <th rowspan="2" class="text-center">備考</th>
		    </tr>
		    <tr>
			    <th class="text-center">時</th>
			    <th class="text-center">分</th>
			    <th></th>
			    <th class="text-center">時</th>
			    <th class="text-center">分</th>
			    <th></th>
		    </tr>
	    </thead>
	    <tbody>
	    	<% (1..get_days).each do |day| %>
		    <tr>
			  	<td class="text-center"><%= params[:month] %>/<%= day %></td>
			    <td class="text-center"><%= get_weekday(params[:year], params[:month], day) %></td>
			    <td><%= get_hour_in_at(params[:user_id], params[:year], params[:month], day) %></td>
			    <td><%= get_minute_in_at(params[:user_id], params[:year], params[:month], day) %></td>
			    <td>
			    <% if is_today?(params[:year], params[:month], day) && !attendance?(params[:user_id], params[:year], params[:month], day) %>
			    	<%= form_with url: time_cards_path do |form| %>
			        <%= hidden_field_tag 'user_id', params[:user_id] %>
			        <%= hidden_field_tag 'button_type', 'attendance' %>
			        <%= hidden_field_tag 'date_type', parse_date_type(params[:year], params[:month], day) %>
                	<%= form.submit "出社", class: "btn btn-default" %>
               		<% end %>
				<% end %>
			    </td>
			    <td><%= get_hour_out_at(params[:user_id], params[:year], params[:month], day) %></td>
			    <td><%= get_minute_out_at(params[:user_id], params[:year], params[:month], day) %></td>
			    <td>
			    	<% if is_today?(params[:year], params[:month], day) && 
			    			attendance?(params[:user_id], params[:year], params[:month], day) &&
			    					!leaving?(params[:user_id], params[:year], params[:month], day) %>
			        	<%= form_with url: time_cards_path do |form| %>
			          	<%= hidden_field_tag 'user_id', params[:user_id] %>
			          	<%= hidden_field_tag 'date_type', parse_date_type(params[:year], params[:month], day) %>
                		<%= form.submit "退社", class: "btn btn-default" %>
              			<% end %>
            		<% end %>
          		</td>
			    <td><%= get_stay_time(params[:user_id], params[:year], params[:month], day) %></td>
			    <td>
			    	<%= get_remarks(day) %>
			    </td>
		    </tr>
		    <% end %>
		    <tr>
			    <td colspan="2"><%= @total_work_time %></td>
			    <td colspan="6"></td>
			    <td><%= @sum_stay_time %></td>
			    <td></td>
		    </tr>
	    </tbody>
    </table>
  </div>