<% provide(:title, "基本情報の更新") %>
<h1>基本情報の更新</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@time_basic_information) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="field form-group">
        <%= f.label :designated_working_times %>
        <%= f.time_field :designated_working_times, id: :time_basic_information_designated_working_times, class:"form-control"%>
      </div>

      <div class="field form-group">
        <%= f.label :basic_time %>
        <%= f.time_field :basic_time, id: :time_basic_information_basic_time, class:"form-control" %>
      </div>

      <%= f.submit "編集", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>






