<p id="notice"><%= notice %></p>

<p>
  <strong>Designated working times:</strong>
  <%= @time_basic_information.designated_working_times %>
</p>

<p>
  <strong>Basic time:</strong>
  <%= @time_basic_information.basic_time %>
</p>

<%= link_to 'Edit', edit_time_basic_information_path(@time_basic_information) %> |
<%= link_to 'Back', time_basic_informations_path %>
