<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h3 class="modal-title text-center">拠点情報の追加</h3>
    <div class="modal-body">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_with model: @base do |form| %>
          <%= form.label :base_number %>
          <%= form.number_field :base_number %>

          <%= form.label :base_name %>
          <%= form.text_field :base_name %>

          <%= form.label :attendance_type %>
          <%= form.text_field :attendance_type %>

          <!--<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>-->
          <%= form.submit "拠点情報の追加", class: "btn btn-primary" %>
          
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>